<!-- article_list.html -->
{% extends "base.html" %}

{% block content %}

{% load static %}


<html lang="fa-ir" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فهرست انشاها</title>
    <link rel="stylesheet" href="{% static 'article_list.css' %}">

</head>
<body>
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
    </form>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <div class="container">
        <h1>فهرست کیری</h1>
        {% for article in articles %}
        <div class="article">
            <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
            <p>{{ article.content|truncatechars:200 }}</p>
            <p>Author: {{ article.author.username }}</p>
        </div>
        {% empty %}
        <p>No articles found.</p>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}

