<!-- create_article.html -->
{% extends "base.html" %}

{% block content %}

{% load static %}


<html lang="fa-ir" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Create post{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'create_post.css' %}">
    </head>
    <body>
<!--        <h2>انتشار مقاله</h2>-->
        <form method="post" class="styled-form">
            {% csrf_token %}
            <input type="text" id="title" placeholder="سرمقاله" name="title" class="input-field"><br>

            <textarea id="content" name="content" placeholder="متن" rows="5" class="textarea-field"></textarea><br>

            <label for="venues">مجله</label><br>
            <select id="venues" name="venues" multiple>
                {% for venue in venues %}
                    <option value="{{ venue.id }}">{{ venue.name }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="ارسال" class="submit-button">
        </form>
    </body>
</html>

{% endblock %}