body {
            font-family: 'Vazirmatn';font-size: 22px;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }

        .article {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 20px;
        }

        .article h2 {
            margin-top: 0;
        }

        .article p {
            margin-bottom: 0;
        }

        .article a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }

        .article a:hover {
            text-decoration: underline;
        }
        .input-field {
            width: 33%; /* Adjusted width to allow for padding and border */
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            border: 1px solid #ccc; /* Added a thin border around input fields */
        }