/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F3F6;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

nav {
    background-color: #511bf5;
    padding: 10px 0;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
