.articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .article {
            width: 30%; /* Adjust the width as needed */
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }
        .article h2 {
            margin-top: 0;
        }
        .article h2 a {
            text-decoration: none; /* Remove underline */
            color: inherit; /* Inherit color from parent */
        }
        .article p {
            margin-bottom: 0;
        }