<!-- base.html -->
{% load static %}
{% csrf_token %}
<html lang="fa-ir" dir="rtl">
<head>
    <link href='https://fonts.googleapis.com/css?family=Vazirmatn' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="/accounts/create">ایجاد مقاله</a></li>
            <li><a href="/venue/create">ایجاد مجله</a></li>
            <li><a href="/venue/list">مجله‌ها</a></li>
            {% endif %}
            <li style="margin-right: auto;"><a href="/accounts/">خانه</a></li>
            <li><a href="/articles/">مقاله‌ها</a></li>
            <li><a href="/about/">درباره</a></li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/login" id="logout-link">خروج</a></li>
            {% else %}
            <li><a href="/accounts/login">ورود</a></li>
            {% endif %}
            <!-- Add more menu items as needed -->
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Content of individual pages will be inserted here -->
        {% endblock %}
    </div>
</body>
</html>
