<!-- article_list.html -->
<!-- article_list.html -->
{% extends "base.html" %}

{% block content %}

{% load markdown_extras %}

{% load static %}


<html lang="fa-ir" dir="rtl">
<head>
    <link href='https://fonts.googleapis.com/css?family=Vazirmatn' rel='stylesheet'>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فهرست انشاها</title>
    <link rel="stylesheet" href="{% static 'article_list.css' %}">

</head>
<body>
    <div class="container">
        <h1>فهرست مقاله‌ها</h1>
        {% for article in articles %}
        <div class="article">
            <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
            {{ article.content | truncatewords:20 | markdown | safe}}
            <p>{{ article.author.username }}</p>
        </div>
        {% empty %}
        <p>No articles found.</p>
        {% endfor %}
    </div>
</body>
</html>

{% endblock %}

