<!-- edit_article.html -->
{% extends "base.html" %}

{% block content %}

{% load static %}



<html lang="fa-ir" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Create post{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'create_post.css' %}">
    </head>
    <body>
<!--        <h2>انتشار مقاله</h2>-->
            <form method="post" class="styled-form">
                {% csrf_token %}
                    <input type="text" id="title" name="title" value="{{ article.title }}" class="input-field">
                    <textarea id="content" name="content" class="textarea-field">{{ article.content }}</textarea>
                <input type="submit" value="اتمام ویرایش" class="submit-button">
            </form>
    </body>
</html>



{% endblock %}